
$background-green: #336644;
$background-blue: rgb(17, 17, 63);
$background-container: rgba(255, 255, 255, 0.75);
$background-body:  rgb(211, 211, 214);
$background-white: #ffffff;
$background-component: #fffff2;
$background-button:#0d6efd;
$text-button:#fffff2;
$text-red: #cc0033;
$text-color: #cc0033;
$text-blue: rgb(17, 17, 63);
$text-footer:aliceblue;
$background-input:#CCCCCC;
$text-navbar: #DDBB44;
$font-text:'Libre Baskerville', serif;
$text-copyright: #ddbb44;
