* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

    body {
        background: rgb(211, 211, 214);
        font-family: 'Libre Baskerville', serif;
        min-height: 100vh;
        
        // h2 {
        //     color: rgb(17, 17, 63) ;
        //     text-decoration: underline;
        // }
    //     h4{
    //         color: rgb(17, 17, 63);
    //         text-align:inherit;
    //     }
    //     h5{
    //         color: black;
    //         font-weight: bold;
    //     }
       
    }
}
