* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

    body {
        background: #fffff2;
        font-family: 'Libre Baskerville', serif;
        min-height: 100vh;
        
        h1, h3 {
            color:#cc0033 ;
        }
    }
}